[submodule "third_party/catch"]
	path = third_party/catch
	url = https://github.com/philsquared/Catch.git
[submodule "third_party/sanitizers-cmake"]
	path = third_party/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
	